* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  height: 100vh;
  /* text-align: center; */
}

.preloader {
  position: fixed;
  top: 0;
  bottom: 0;
  width: 100%;
  height 100%;
  /* background: #000; */
  transition: 1s;
}

.preloader.complete {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.preloader::before {
  content: '';
  position: absolute;
  left: 0;
  width: 50%;
  height: 100%;
  background: #000;
  transition: 1s;
}

.preloader.complete::before {
  left: -50%;
}

.preloader::after {
  content: '';
  position: absolute;
  right: 0;
  width: 50%;
  height: 100%;
  background: #000;
  transition: 1s;
}

.preloader.complete::after {
  right: -50%;
}

.head {
  position: absolute;
  top: 15%;
  left: 41%;
  z-index: 2;
}

.headImage {
  max-width: 30%;
  height: auto;
}

.loader {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 40px;
  height: 40px;
  box-sizing: border-box;
  border: 3px solid #fff;
  animation: animate 2s linear infinite;
  z-index: 2;
}

.loader::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: #fff;
  animation: animateBg 2s linear infinite;
}

.starBackground1 {
  position: absolute;
  background: black url(stars.png) repeat 0 0;
  width: 100%;
  height: 100%;
  margin: 0;
  box-sizing: border-box;
  animation: movingStars1 20s linear infinite;
  z-index: -2;
}

.starBackground2 {
  position: absolute;
  background: url(stars.png) repeat 0 0;
  width: 100%;
  height: 100%;
  margin: 0;
  box-sizing: border-box;
  animation: movingStars2 60s linear infinite;
  z-index: -1;
}

/* .tardisContainer {
  height: 100px;
  width: auto;
  background: url(tardis.png) 0 0;
  position: absolute;
  top: 10%;
  left: 15%;
  z-index: 1;
}

.tardisContainer.moving {
  height: 100px;
  width: auto;
  background: url(tardis.png) 0 0;
  position: absolute;
  top: 20%;
  left: 25%;
  z-index: 1;
} */

.tardisImage {
  position: absolute;
  max-width: 2%;
  height: auto;
  bottom: 110vh;
  left: 20%;
  z-index: 1;
  transform: rotate(90deg);
}

.tardisImage.moving {
  animation-name: movingTartis;
  animation-duration: 10s;
  animation-fill-mode: forwards;
  animation-timing-function: linear;
}

.text {
  /* margin: 0 auto; */
  /* position: absolute; */
  font-size: 50px;
  text-align: center;
  /* top: 10vh; */
  /* left: 32vw; */
  /* width: 50vw; */
  z-index: 0;
}

@keyframes animate {
  0% {
    transform: translate(-50%, -50%) rotate(0deg);
  }

  25% {
    transform: translate(-50%, -50%) rotate(180deg);
  }

  50% {
    transform: translate(-50%, -50%) rotate(180deg);
  }

  75% {
    transform: translate(-50%, -50%) rotate(360deg);
  }

  100% {
    transform: translate(-50%, -50%) rotate(360deg);
  }
}

@keyframes animateBg {
  0% {
    height: 0;
  }

  25% {
    height: 0;
  }

  50% {
    height: 100%;
  }

  75% {
    height: 100%;
  }

  100% {
    height: 0;
  }
}

@keyframes movingStars1 { /*Back*/
  from {
    background-position: 0 0;
  }
  to {
    background-position: -200px -100px;
  }
}

@keyframes movingStars2 { /*Front*/
  from {
    background-position: 0 0;
  }
  to {
    background-position: 350px 200px;
  }
}

@keyframes movingTartis {
  0% {
    bottom: 110vh;
    left: 20%;
    max-width: 2%;
    transform: rotate(90deg);
  }

  15% {
    bottom: 70vh;
    left: 0%;
    max-width: 6%;
    transform: rotate(-40deg);
  }

  30% {
    bottom: 47vh;
    left: 40%;
    max-width: 10%;
    transform: rotate(390deg);
  }

  46% {
    bottom: 70vh;
    left: 85%;
    max-width: 15%;
    transform: rotate(780deg);
  }

  60% {
    bottom: 40vh;
    left: 70%;
    max-width: 15%;
    transform: rotate(690deg);
  }

  75% {
    animation-timing-function: ease-out;
    bottom: 20vh;
    left: 25%;
    max-width: 20%;
    transform: rotate(730deg);
  }

  100% {
    bottom: 1vh;
    left: 37%;
    max-width: 25%;
    transform: rotate(720deg);
  }
}

@keyframes flipBottom { // Yes
  from {
    transform: rotate(0deg) translateX(150px) rotate(0deg); }
  to {
    transform: rotate(180deg) translateX(150px) rotate(-180deg); }
  }
}

@keyframes flipTop { // No
  from {
    transform: rotate(180deg) translateX(150px) rotate(-180deg); }
  to {
    transform: rotate(360deg) translateX(150px) rotate(-360deg); }
  }
}
