div.board {
    margin: 1vw;
    padding: 1vw;
    background-color: black;
}

div.commentContainer {
    width: 10vw;
    height: 10vw;
    background-color: yellow;
    margin: 0.5vw;
    text-align: center;
    font-family: 'Courier New', Courier, monospace;

    border-color: yellowgreen;
    border-style: solid;

    /* border-style: solid;
    border-color: red; */
}

button {
    border: none;
    color: white;
    padding: 0.5vw 1vw;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
  }

button.editButton {
    background-color: green;
}

button.removeButton {
    background-color: red;
}

button.saveButton {
    background-color: green;
}