body {
    margin:0;
    background-color: #23272A !important;
    font-family: 'Open Sans', sans-serif !important;
}
h1{
  font-family: 'Arvo', serif !important;
}
h2{
  color: #ffe082;
  font-family: 'Arvo', serif !important;
  font-size: 30pt;
}
p {
  text-indent: 50px;
  font-size: 14pt;
  padding-left:  2%;
  padding-right: 2%;
}
.image {
    position:absolute;
    width:100%;
    height:100%;
    background:#23272A;
    background-image:url('./img/2017-team.jpg');
	background-attachment: fixed;
    background-size: cover;
}
.content {
    position:absolute;
    width:100%;
    top:100%;
    height: 100px;
}


/*Marketing content specs*/
.row {
  background-color: #2C2F33;
  border-radius: 8px;
  padding: 16px;
  color:  rgb(169, 169, 169);

  /*box-shadow: 8px 8px 4px black;*/
}
.row h2 {
  color: #ffe082;
  font-family: 'Arvo', serif !important;
  /*color: #e0d252 !important;*/
}
.marketing .col-lg-4 {
  margin-bottom: 1.5rem;
  text-align: center;
}
.marketing h2 {
  font-weight: normal;
}
.marketing .col-lg-4 p {
  margin-right: .75rem;
  margin-left: .75rem;
}


.bouncer {

  animation: bounce 1s infinite alternate;
  -webkit-animation: bounce 1s infinite alternate;
}

.norm-list{
  text-indent: 0px;
  font-size: 14pt;
  padding-left:  2%;
  padding-right: 2%;
}

@keyframes bounce {
  from {
    transform: translateY(0px);
  }
  to {
    transform: translateY(-15px);
  }
}
@-webkit-keyframes bounce {
  from {
    transform: translateY(0px);
  }
  to {
    transform: translateY(-15px);
  }
}

@media only screen and (max-device-width: 1024px) {
    .image {
        background-attachment: scroll;
    }
}


body, html {
  height: 100%;
  margin: 0;
  font-family: 'Open Sans', sans-serif !important;
  color: #777;
}

.bgimg-1, .bgimg-2, .bgimg-3, .bgimg-4 , .bgimg-5 {
  position: relative;
  font-family: 'Arvo', serif !important;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

}
.bgimg-1 {
  background-image: url("./img/2017-team.jpg");
  min-height: 100%;
}

.bgimg-2 {
  background-image: url("./img/Engineering.jpg");
  min-height: 400px;
}

.bgimg-3 {
  background-image: url("./img/Business.jpg");
  min-height: 400px;
}

.bgimg-4 {
  background-image: url("./img/Community.jpg");
  min-height: 400px;
}

.bgimg-5 {
  background-image: url("./img/Filler.jpg");
  min-height: 400px;
}



.caption {
  position: absolute;
  left: 0;
  top: 50%;
  width: 100%;
  text-align: center;
  
  color: #fff;
  padding: 18px;
  font-size: 28pt;
  letter-spacing: 10px;
  
  <!--color: #000;-->
  font-family: 'Arvo', serif !important;
}

.caption span.border {
<!--background-color: #111;
  color: #fff;
  padding: 18px;
  font-size: 25px;
  letter-spacing: 10px; -->
}

/* Turn off parallax scrolling for tablets and phones */
@media only screen and (max-device-width: 1024px) {
    .bgimg-1, .bgimg-2, .bgimg-3, .bgimg-4, .bgimg-5 {
        background-attachment: scroll;
    }
}