body, html {
  /*background-color: #23272A !important;*/
  background-color: white;
  height: 100%;
  margin: 0;
  font-family: 'Open Sans', sans-serif !important;
  color: #777;
}

footer {
  text-align: center;
  color: rgba(169, 169, 169, 1);
  font-size: 20px;
  style="padding-top:1%;"
}

@keyframes float {
	0% {
		/*box-shadow: 0 5px 15px 0px rgba(0,0,0,0.6);*/
		transform: translatey(0px);
	}
	50% {
		/*box-shadow: 0 25px 15px 0px rgba(0,0,0,0.2);*/
		transform: translatey(-20px);
	}
	100% {
		/*box-shadow: 0 5px 15px 0px rgba(0,0,0,0.6);*/
		transform: translatey(0px);
	}
}

#container {

}

div.Sabercat_Bubble {
  background-image: url("./img/Sabercat_Circle.png");
  background-size: contain;
   background-position: center;
  background-repeat: no-repeat;
  /*background-color: grey;*/

  height: 100%;
  width: auto;

  /*overflow: hidden;*/
	/*box-shadow: 0 5px 15px 0px rgba(0,0,0,0.6);*/
	/*transform: translatey(0px);*/
	/*animation: float 7s ease-in-out infinite;*/
}

div.Engineering_Bubble {
  background-image: url("./img/Engineering_Circle.png");
  background-size: contain;
  background-repeat: no-repeat;
  float: right;
  height: 100%;
  width: 50%;
  position: absolute;
  right: 0%;

  animation: float 7s ease-in-out infinite;
}

div.Programming_Bubble {
  background-image: url("./img/Programming_Circle.png");
  background-size: contain;
  background-repeat: no-repeat;
  float: left;
  height: 100%;
  width: 50%;
  position: absolute;
  /*left: 4%;*/

  animation: float 7s ease-in-out infinite;
}

div.Business_Bubble {
  background-image: url("./img/Business_Circle.png");
  background-size: contain;
  background-repeat: no-repeat;
  float: right;
  height: 100%;
  width: 50%;
  position: absolute;
  right: 0%;

  animation: float 7s ease-in-out infinite;
}

div.Community_Bubble {
  background-image: url("./img/Community_Circle.png");
  background-size: contain;
  background-repeat: no-repeat;
  float: left;
  height: 100%;
  width: 50%;
  position: absolute;
  /*left: 4%;*/

  animation: float 7s ease-in-out infinite;
}

div.Help_Us_Bubble {
  background-image: url("./img/Help_Us_Circle.png");
  background-size: contain;
  background-repeat: no-repeat;
  float: right;
  height: 100%;
  width: 50%;
  position: absolute;
  right: 0%;

  animation: float 7s ease-in-out infinite;
}

span.Heading {
  font-family: 'Arvo', serif !important;
  font-size: 40px;
  color: black;
  /*background-color: lightgrey;*/
}

p.Paragraph {
  text-align:center;
}

div.Content_Left {
  float: left;
  height: 100%;
  width: 50%;
  /*background-color: purple;*/
  padding: 40px;

  display: flex;              /* establish flex container */
  flex-direction: column;     /* stack flex items vertically */
  justify-content: center;    /* center items vertically, in this case */
  align-items: center;        /* center items horizontally, in this case */
}

div.Content_Right {
  float: right;
  height: 100%;
  width: 50%;
  /*background-color: purple;*/
  padding: 40px;

  display: flex;              /* establish flex container */
  flex-direction: column;     /* stack flex items vertically */
  justify-content: center;    /* center items vertically, in this case */
  align-items: center;        /* center items horizontally, in this case */
}

div.Section {
  width: 100%;
  height:100vh;
  padding: 15px;
}
