html, body {
  margin: 0;
  height: 100%;
  overflow: hidden;
}

#background {
  position: fixed;
  top: 0;
  left: 0;
}

#aboutWrapper {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-auto-rows: minmax(5vh, auto);
  opacity:0;
  pointer-events: none;
}

#aboutWrapper > div{
  /* border: 2px dotted seagreen; */
}



/* #aboutWrapper > div:nth-child(odd){
  background: #ddd;
} */

#aboutTitle {
  font-size: 8vh;
  color: white;
  z-index: 100;
  grid-column: 1/3;
  grid-row: 1;
  padding-top: 1em;
  font-family: 'Noto Sans KR', sans-serif;
  text-align: center;
  text-decoration: underline;
}

#aboutText {
  color: white;
  z-index: 100;
  font-size: 3.5vh;
  grid-column: 1/3;
  grid-row: 2;
  padding: 1em;
  padding-right: 2em;
  margin: 1em;
}

#title {
  font-size: 10vh;
  color: white;
  position: absolute;
  top: 10px;
  width: 100%;
  text-align: center;
  z-index: 100;
  display: block;
  font-family: 'Noto Sans KR', sans-serif;
  pointer-events: none
  /* animation-name: float;
  animation-direction: alternate;
  animation-duration: 4s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out; */
}

/* #hi {
  animation-name: fadeInDown;
  animation-duration: 5s;
  animation-timing-function: ease-in-out;
} */

/* https://stackoverflow.com/questions/826782/how-to-disable-text-selection-highlighting */
.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Old versions of Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome, Edge, Opera and Firefox */
}

@keyframes float {
  0% {top: 10px}
  100% {top: 20px}
}

@keyframes fadeInDown {
  0% {top: 0px}
  100% {top: 10px}
}

.fadeOut {
  /* font-size: 50px;
  color: white; */
  animation: fadeOut linear 0.6s;
  -webkit-animation: fadeOut linear 0.6s;
  -moz-animation: fadeOut linear 0.6s;
  -o-animation: fadeOut linear 0.6s;
  -ms-animation: fadeOut linear 0.6s;
  animation-fill-mode: forwards;
  -o-animation-fill-mode: forwards;
  -webkit-animation-fill-mode: forwards;
}

.fadeIn {
  /* font-size: 50px;
  color: white; */
  animation: fadeOut linear 0.6s;
  -webkit-animation: fadeOut linear 0.6s;
  -moz-animation: fadeOut linear 0.6s;
  -o-animation: fadeOut linear 0.6s;
  -ms-animation: fadeOut linear 0.6s;
  animation-direction: reverse;
  -moz-animation-direction: reverse;
  -o-animation-direction: reverse;
  -webkit-animation-direction: reverse;
  animation-fill-mode: both;
  -o-animation-fill-mode: both;
  -webkit-animation-fill-mode: both;
}

@keyframes fadeOut {
  0% {
    opacity:1;
  }
  100% {
    opacity:0;
  }
}

@-moz-keyframes fadeOut {
  0% {
    opacity:1;
  }
  100% {
    opacity:0;
  }
}

@-webkit-keyframes fadeOut {
  0% {
    opacity:1;
  }
  100% {
    opacity:0;
  }
}

@-o-keyframes fadeOut {
  0% {
    opacity:1;
  }
  100% {
    opacity:0;
  }
}

@-ms-keyframes fadeOut {
  0% {
    opacity:1;
  }
  100% {
    opacity:0;
  }
}