#background {
  position: fixed;
  top: 0;
  left: 0;
}

#myName {
  font-size: 10vh;
  color: white;
  position: absolute;
  top: 10px;
  width: 100%;
  text-align: center;
  z-index: 100;
  display: block;
  font-family: 'Noto Sans KR', sans-serif;
}